@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: black;
    color: white;
    width: 100%;
    height: 12vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    padding: 1.5vw 6vw 5vw;
}
.left{
    flex-direction: column;
    gap: 2vh;
    width: 35%;
}
.right{
    flex-direction: column;
    gap: 2.5vh;
    width: 32%;
}
.left ul{
    display: flex;
    list-style: none;
}
.left ul li{
    margin-right: 3vw;
}
.left ul li a:hover{
    color: aqua;
}
.right ul li a:hover{
    color: aqua;
}
.right ul li{
    margin-left: 3vw;
}
.right ul{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo img{
    margin-left: -5vw;
    position: absolute;
    top: 0;
}
.main{
    background-image: url(imgs/a-technical-fest-night-stage-view-upscaled\ \(1\).jpg);
    background-color: black;
    background-size: cover;
    width: 100vw;
    height: 91vh;
}
/* .main img{
    opacity: 1;
    height: 85vh;
    width: 100%;
    aspect-ratio: 1;

   
    position: relative;
} */
.lane h1{
    position: absolute;
    top: 65vh;
    left: 31%;
    z-index: 2;
    color: white;
    font-size: 120px;
    animation: mohit 3s 1 ease-in-out;
}
.bars{
    display: none;
}
#events{
    /* position: relative; */
    width: 100vw;
    padding: 12vh 0;
}
#line-up{
    width: 100vw;
    position: relative;
    padding: 15vh 0;
}
#highlights{
    width: 100vw;
    position: relative;
}
#About{
    width: 100vw;
    position: relative;
}
#schedule{
    width: 100vw;
    position: relative;
}
#contact{
    width: 100vw;
    position: relative;
}
@keyframes mohit {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    60%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}
.nit{
    color: aqua;
}
.images img{
margin-left: 15px;
margin-bottom: 15px;
}
.services-offer{
    color: white;
}
.contain{
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-left: 4vw;
}
.container{
    width: 90%;
}
.box{
    height: 23vh;
    width: 45%;
    padding: 1vw;
    background-color: rgb(41, 40, 40);
    margin-right: 1vw;
    margin-bottom: 1vw;
    border-radius: 5px;
}
.box h2{
    margin-bottom: 2vh;
}
.b1{
    background-color: rgb(60, 59, 59);
    height: 50vh;
    width: 100%;
}
.box span{
    margin-left: 5px;
    font-size: 1.2rem;
}
.phone{
    display: none;
}
.slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .slider {
    display: flex;
    animation: slideAnimation 10s linear infinite;
  }

  .slide {
    flex: 0 0 100%;
    transition: transform 1s ease-in-out;
  }

  .slide img {
    width: 40rem;
    height: auto;
  }

  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    15% {
      transform: translateX(-100%);
    }
    30% {
      transform: translateX(-200%);
    }
    45% {
      transform: translateX(-300%);
    }
    60% {
      transform: translateX(-400%);
    }
    75% {
      transform: translateX(-500%);
    }
    88% {
      transform: translateX(-600%);
    }
    100% {
      transform: translateX(-700%);
    }
  }
  .width-50{
    width: 50vw;
  }
  .width-30{
    width: 10vw;
  }
  .images{
    padding: 5vh 8vw;
  }
  
  .nits{
    font-size: 1.1rem;
    position: relative;
    width: 100%;
    /* overflow: scroll; */
    animation: mohit2 4s infinite linear;
  }
  @keyframes mohit2{
    0%{
        transform: translateX(200%);
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
  }
  @media (max-width:768px){
    .phone{
        display: block;
        position: absolute;
        top: 0;
        right: -150px;
        background: linear-gradient(135deg, rgba(0, 79, 99, 0.8) 0%, rgb(0, 0, 0) 25%,rgb(0,0,0)50%,rgba(0, 79, 99, 0.8) 100%);
        height: 100vh;
        width: 150px;
        z-index: 100000000;
        transition: right 0.5s;
    }
    .phone ul{
        margin-left: 3vw;
        margin-top: 5vh;
        list-style: none;
    }
    .bars{
        margin-left: 80%;
        margin-top: -15%;
        display: block;
    }
    .phone ul li{
        line-height: 60px;
    }
    .phone ul li a:hover{
        font-weight: bold;
        color: #0ef;
    }
    .left ul:last-child{
        display: none;
    }
    .left ul:first-child{
        margin-top: 20%;
    }
    .right ul:first-child{
        margin-top: 8%;
    }
    .navbar{
        height: 10vh;
    }
    .right ul:last-child{
        display: none;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .width-50{
        width: 80vw;
    }
    .width-30{
        width: 50%;
    }
    .slide img{
        width: 30rem;
    }
    .contain{
        flex-direction: column;
        gap: 2vh;
        margin-left: 0;
    }
    .box{
        width: 100%;
        padding: 3vw;
        height: 20vh;
    }
    .box span{
        font-size: 1rem;
    }
    #about>p{
         font-size: 1rem;
    }
    .images{
        padding: 4vh 4vw;
    }
    .images img{
        margin-left: 0;
    }
    .images a img{
        width: 100%;
    }
    #events{
        padding-top: 2vh;
    }
    #line-up{
        padding: 6vh 0;
    }
    .nits{
        font-size: 0.6rem;
    }
    .right{
        width: 43%;
    }
    .logo img{
        margin-left: -4%;
        width: 17vw;
    }
    .lane{
        position: absolute;
        background: rgba(0,0,0,0.6);
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .lane h1{
        position: absolute;
        top: 35vh;
        left: 10vw;
        font-size: 4rem;
        color: white;
    }
    .lane img{
        position: absolute;
        bottom: 6vh;
        color: white;
        left: 40vw;
    }
    .main{
        background-image: url(imgs/6fd293c959a64c85ea2f9ce0480bbbc8.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
  }